{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="content">
        <h1 class='tribute'>
            <section class="top_section">
                <div class="image_container">
                    <img src="{% static 'images/sir.jpg' %}" alt="Mr irfan">
                </div>
                <div>
                    <h1>Mr. Irfan Malik</h1>
                    <h4>Founder & CEO Xeven Solutions</h4>
                </div>
            </section>
            <section class="about_section">
                <h2>
                    Proud of the Pakistan !
                </h2>
                <p><b>Irfan Malik</b> is a Pakistani entrepreneur and CEO of Xeven Solutions, known for his expertise in artificial intelligence and freelancing. Starting as a freelancer, he built a successful global company and now focuses on empowering youth through education and technology.
            </section>
            <section class="biography_section">
                <h3>Biographies</h3>
                <ul>
                   <li>Started from a humble background with limited resources</li>
                    <li>Developed interest in technology and programming at an early stage</li>
                    <li>Learned skills through self-study (online resources, practice, courses)</li>
                    <li>Chose freelancing (especially Upwork) instead of traditional jobs</li>
                    <li>Faced initial struggles (no clients, low-paying projects)</li>
                    <li>Gradually became a top-rated freelancer</li>
                </ul>
            </section>
            <footer>
               <p>Read more about <a href="https://irfanmalik.ai/"> Mr. Irfan Malik</a></p>
            </footer>
        
    </div>
   

</div>


{% endblock content %}


